img {
	width: 40%;
	max-width: 350px;
	min-width: 300px;
	height: 35%;
	max-height: 300px;
	min-height: 260px;
	box-shadow: 10px 10px 15px #011627;
	padding: 10px;
	background-color: #4CA0EB;
}

div > p  {
	margin: 3% 4% 6% 10%;
	text-align: left;
	background-color: #4CA0EB;
	border-radius: 25px;
	box-shadow: 10px 10px 10px #011627;
	line-height: 1.8em;
	width: 45%;
}

main {
	margin-top: 20px;
}

.img1 {
	display: block;
	align-items: center;
	margin: 0;
	padding: 2%;
	}

.img2 {
	display: block;
	align-items: center;
	margin: 0;
	padding: 2%;
	}

.img3 {
	display: block;
	align-items: center;
	margin: 0;
	padding: 2%;
}


/* ==================================
	Mobile Styles: 0px to 480px
   ==================================
*/
@media only screen and (max-width: 480px) {
	div > p {
		font-size: 15px;
		padding: 8%;
		margin: 3% 20% 3% 20%;
	}
}

/* ==================================
	Tablet Styles: 481px and greater
   ==================================
*/
@media only screen and (min-width: 481px) {
	div > p {
		font-size: 15px;
		padding: 8%;
		margin: 3% 20% 3% 20%;
	}
	
	img {
		margin: 1% 1% 1% 0;
		width:30%;
		height: 30%;
	}
}

/* =================================
	Desktop Styles: 769px and greater
   =================================
*/
@media only screen and (min-width: 769px) {
	div > p {
		padding: 4%;
		margin: 1% 1% 0 5%;
		font-size: 18px;
	}	
	.img1 {
		display: flex;
		padding: 2%;
		align-items: center;
		margin-left: 12%;
	}
	.img2 {
		display: flex;
		align-items: center;
		margin-left: 12%;
	}
	.img3 {
		display: flex;
		padding: 2%;
		align-items: center;
		margin-left: 12%;
	}
}
 
